#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	wget -O debian/chatgpt-desktop/usr/share/icons/hicolor/256x256/apps/chatgpt-icon.png "https://raw.githubusercontent.com/mkdirlove/chatgpt-desktop/main/icon.png"
